

<ul id='my-nav' class="navbar-fixed-top">
    <li><a href="#">Home</a></li>
    <li><a href="#">Item list</a></li>
    <li><a href="/ask">Ask</a></li>
    <li><a href="/FAQ">FAQ</a></li>
    {% if user.is_authenticated %}
    <li style="float:right;margin-right:30px;">
      <div class="dropdown">
        <a class="dropbtn">{{ user.username }} <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></a>
        <div class="dropdown-content">
          <a href="#">Settings <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
          <a href="/logout">Log out <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
        </div>
      </div>
    </li>

    {% else %}
        <li><a href="/login">log in</a></li>
    {% endif %}
</ul>
