
{% extends 'core/layout/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="sm-mid-container">
  <div class="panel panel-default">
    <div style="background-color:rgb(126,126,126);color:white;" class="panel-heading">
      Create account
    </div>
    <div class="panel-body">
      <form class="" action="{% url 'createaccount' %}" method="post">
        {% csrf_token %}
        <div class="row">
          <input class="login-input" placeholder="Username" type="text" name="username">
          <input class="login-input" placeholder="Password" type="text" name="password">
          <input class="login-input" placeholder="Email" type="text" name="email">
        </div>
        <div class="row">
          <input class="btn-login" type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
$('body').css('background' , 'url("../../static/core/img/loginbg.png") no-repeat center center fixed')
$('body').css('background-size' , 'cover')
</script>

{% endblock %}
